<div class="wrapper">
  <header class="header">
    <h1 class="header__title">px to rem <span class="header__title header__title_arrow rotated-arrow" (click)="transform()">&#9978;</span></h1>
  </header>
  <section class="main">

      <div class="main__description">
        <p>

        </p>
      </div>
      <div class="main__settings">
        <div class="main__setting setting">
          <p class="setting__label">root fontsize</p>
          <input [(ngModel)]="fontsize" class="field field_setting" (change)="transform()">
        </div>
        <div class="main__setting">
            <p class="setting__label">decimal range</p>
          <input [(ngModel)]="tofixed" class="field field_setting" (change)="transform()">
        </div>
      </div>
      <textarea class="main__field field field_input" [(ngModel)]="input"></textarea>
      <textarea class="main__field field field_ouput" [(ngModel)]="output" readonly></textarea>
      <div class="main__action-button" (click)="transform()">Go!<span class="rotated-arrow">&#9978;</span></div>

  </section>
</div>

